body {
  text-align: center;
  font-family: helvetica, sans-serif;
  margin: 0 auto;
  max-width: 700px;
  background-image: url("presentbackground2.jpg");
  background-size: cover;
  background-position: center;
}

h1 {
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
  font-size: 100px;
  color: black;
  margin: 20px 0px 10px 0px;
}

h2 {
  text-align: center;
  font-size: 40px;
  color: black;
  margin: 10px 0px 60px 0px;
}

div {
  height: 200px;
  background-size: cover;
  position: relative;
  margin: 50px 0px 0px 0px;
  border-radius: 15px;
}

#menuBar {height: 50px;
		  margin-top: -20px; 
          margin-bottom: 10px;
}

#about {color: white;
        text-align: center;
        font-size: 25px;
        margin: 50px 0px 300px 0px;
        text-align: center;     
  }

#aboutext {color: black;
          padding: 40px 10px 0px 10px;
          text-align: center;
          background-color: none;
          position: top;
}

li {
  color: white;
  font-size: 25px;
  display: inline;
  padding: 0px 10px 0px 10px;
  text-align: center;
}

ul {
      background: rgba(0, 0, 0, 0.5);
}

#sign-up {
      margin: 50px 0px 50px 0px;
      height: 100%;
}

h4 {color: white;
    font-size: 35px;
    padding: 20px 0px -20px 0px;
        }

#bottomNav {
            margin-top: 250px;
            margin-bottom: 10px;
            text-align: center;
            color: white;
            }

.nav-bar { height: 30px; color: white;}
.na-bar > li.active > a { color: rgba(225,225,225,0.8); cursor: default; }
.nav-bar > li.active:hover { background: none; cursor: default; }
.nav-bar > li:hover { height: 30px; background: none; }
.nav-bar > li > a { color: rgba(225,225,225,1); }
.nav-bar > li:hover > a { color: rgba(0,0,0,0.8);}